<aside class="sidebar">
    <% asideContent.map(item => { %>
        <ul class="sidebar__content">
            <li class="sidebar__item">
                <a href="#" class="sidebar__link">
                    <%= item %>
                </a>
            </li>
        </ul>
    <% }) %>
</aside>