<!DOCTYPE html>
  <head>
    <title>Boilerplate &rarr; JM Softwares</title>
    <!-- meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link  -->
    <link rel="stylesheet" href="./styles/css/main.css" />
  <script type="module" src="https://www.paypal.com/sdk/js?client-id={{clientId}}&components=buttons"></script>
  </head>
  <body>
    {{> header }}
    <div class="grid">
      {{> sidebar }}
      <main class="main">
        {{> form }}
        {{> stripeBtn }}
        {{> paypalBtn }}
      </main>
    </div>
    <script src="./js/main.js"></script>
    {{!-- paypal default script is type="module"  --}}
    <script type="module" src="./js/paypal.js"></script>
  </body>
</html>
