:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
// colors
$color-primary-light: #ddd;
$color-primary-dark: #ddd;
$color-secondary-light: #ddd;
$color-secondary-dark: #ddd;
$color-tertiary-light: #ddd;
$color-tertiary-dark: #ddd;
$color-quaternary-light: #ddd;
$color-quaternary-dark: #ddd;
$color-background-light: #ddd;
$color-background-dark: #ddd;
$color-text-light: #ddd;
$color-text-dark: #333;

// boxes

$padding-lg: 30rem;
$padding-md: 20rem;
$padding-sm: 10rem;
$padding-xs: 5rem;

$margin-lg: 30rem;
$margin-md: 20rem;
$margin-sm: 10rem;
$margin-xs: 5rem;

// typo

$font-size-lg: 3rem;
$font-size-md: 2rem;
$font-size-sm: 1rem;
$font-size-xs: 0.4rem;

$font-weight-lg: 900;
$font-weight-md: 700;
$font-weight-sm: 500;
$font-weight-xs: 0.3;

$font-poppins: "Poppins", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-montserrat-alt: "Montserrat Alternates", sans-serif;

// grids layouts

//
