// colors
$color-primary-light: #ddd;
$color-primary-dark: #ddd;
$color-secondary-light: #ddd;
$color-secondary-dark: #ddd;
$color-tertiary-light: #ddd;
$color-tertiary-dark: #ddd;
$color-quaternary-light: #ddd;
$color-quaternary-dark: #ddd;
$color-background-light: #ddd;
$color-background-dark: #ddd;
$color-text-light: #ddd;
$color-text-dark: #333;

// boxes

$padding-lg: 30rem;
$padding-md: 20rem;
$padding-sm: 10rem;
$padding-xs: 5rem;

$margin-lg: 30rem;
$margin-md: 20rem;
$margin-sm: 10rem;
$margin-xs: 5rem;

// typo

$font-size-lg: 3rem;
$font-size-md: 2rem;
$font-size-sm: 1rem;
$font-size-xs: .4rem;

$font-weight-lg: 900;
$font-weight-md: 700;
$font-weight-sm: 500;
$font-weight-xs: .300;

$font-poppins: 'Poppins', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;;
$font-montserrat-alt: 'Montserrat Alternates', sans-serif;

// grids layouts

// 