<html>
  <head>
    <title>Boilerplate &rarr; JM Softwares | About Us</title>
  </head>
  <body>
    <main>About Us</main>

    <!-- Global Scripts for all pages-->

    {{> scripts }}

    <!-- Global Scripts for all pages end-->
  </body>
</html>
