<html>
  <head>
    <title>Boilerplate &rarr; JM Softwares | Cancel Payment</title>
  </head>
  <body>
    <main>The operation was cancelled succesfully!</main>

    <!-- Global Scripts for all pages-->

    {{> scripts }}

    <!-- Global Scripts for all pages end-->
  </body>
</html>
