<html>
  <head>
    <title>Boilerplate &rarr; JM Softwares | Payment Success</title>
  </head>
  <body>
    <main>The operation was completed succesfully! Thaks for shop with us!</main>
  </body>
</html>